body { letter-spacing:1px;}
/*header 작업*/
#header{
    position:relative; 
}
#header .menu p.more{
    position:absolute; top:50%; left:0; margin-top:-9px;
    cursor:pointer; display:none;
}
#header .menu{
    background-color:rgba(0,0,0,0.7); z-index:50; 
    position:fixed; top:0px; left:0px;
    width:100%; 
}
#header .menu ul{
    padding-top:20px; padding-bottom:20px;
    width:680px; margin:0 auto;
}
#header .menu ul li{
    float:left; margin-left:30px; margin-right:30px;
}
#header .menu ul li a{
    color:#fff; font-size:25px;
}
#header .menu ul li.on a{
    color:#80bce2; font-weight:bold;
}
#header .menu ul li:hover a{
    color:#80bce2; font-weight:bold;
}

#header .menu .home{
	display:none;
}

#header .main{
    height:900px; position:relative; 
    background:url(../img/main.jpg) no-repeat center;
    background-size:cover; 
}
#header .main .main_text{
    color:#fff; text-align:center;
    letter-spacing:1px; width:1200px; height:900px; 
    padding-top:320px;
    position:absolute; top:0; left:50%; margin-left:-600px;
}
#header .main .main_text p.main_title{
    font-size:55px; margin-bottom:45px; text-align:center;
    position:relative;
}
#header .main .main_text p.main_title span{ color:#80bce2;  }
#header .main .main_text p.text{
    font-size:15px; text-align:center;
}
/*more_menu 작업*/
#more_menu{
    width:250px; height:100%; position:fixed; top:0px; left:-250px;
    background-color:#000; z-index:60; border-right: 3px solid #534a4a;
	transition:all 0.1s;
}
#more_menu .wrap p.close{
    width:45px; height:40px; position:absolute; top:10px; right:10px;
    background-color:#777; cursor:pointer; color:#fff; border:1px solid #ccc; 
    font-size:13px; line-height:40px; text-align:center; font-weight:bold;
}
#more_menu .wrap p.close:hover{
    color:#deb74c;
}

#more_menu .wrap .menu{
    margin-top:100px; 
}
#more_menu .wrap .menu li a{
    display:block; padding-top:10px; 
    padding-bottom:10px; border-bottom:1px solid #ccc; 
    margin-bottom:10px; font-size:16px; 
    padding-left:10%; color:#ccc; font-weight:bold;
}
#more_menu .wrap .menu li a:hover{
    color:#80bce2; 
}

/*container 작업*/
.center {width:1200px; margin:0 auto;}
/*1번 content 작업*/
.content_publisher{
    color:#757575;
    font-size:15px; font-weight:bold;
    padding-top:100px; padding-bottom:70px;
}
.content_publisher p.puvlisher_title{
    float:left; font-size:30px; color:#757575;
    width:280px;letter-spacing:0px; 
}
.content_publisher p.puvlisher_title span{ color:#80bce2; }
.content_publisher p.puvlisher_text{
    width:750px; float:right; line-height:22px;
}

/*2번 content 작업*/
.content_ourwork{
    color:#757575; font-size:15px; 
    font-weight:bold; text-align:center;
    background-color:#fafafa;
}
.content_ourwork .ourwork_text_box{
    height:300px; padding-top:75px;
}
.content_ourwork p.ourwork_title{
    font-size:35px; color:#757575; letter-spacing:0px; 
}
.content_ourwork p.ourwork_title span{ color:#80bce2;  }
.content_ourwork p.ourwork_text{
    line-height:22px; 
    margin-top:30px; margin-bottom:45px;
}
.content_ourwork .ourwork_btn a{
    display:block; 
    margin-bottom:40px;
}
.content_ourwork .ourwork_list{
    width:100%;
}
.content_ourwork .ourwork_list li{
    float:left; width:25%; position:relative;
}
.content_ourwork .ourwork_list li img{ width:100%; }
.content_ourwork .ourwork_list li a .bg{
    position:absolute; top:0; left:0;
    width:100%; height:100%; 
    background-color:rgba(128,188,226, 0.8); color:#fff; 
    font-size:15px; transition:all 0.5s; opacity:0;
    padding-top:45%; font-size:20px;
}
.content_ourwork .ourwork_list li:hover a .bg{
	opacity:1;
}

/*3번 content 작업*/
.content_expertise{
    background-color:#f7f7f7; padding-top:100px;
    text-align:center; font-size:15px;
}
.content_expertise p.expertise_title{
    color:#757575; font-size:35px; letter-spacing:0px;
    font-weight:bold; margin-bottom:30px;
}
.content_expertise p.expertise_title span{ color:#80bce2;  }
.content_expertise .expertise_list{
    margin-top:50px;
}
.content_expertise .expertise_list li{
    float:left; width:25%; 
    padding-top:20px; padding-bottom:50px;
}
.content_expertise .expertise_list li p.list_title{
    margin-top:30px; margin-bottom:30px; color:#80bce2; 
    font-size:25px; 
}
.content_expertise .expertise_list li p.list_title span{ font-weight:bold;}
.content_expertise .expertise_list li p.list_text{
    color:#757575; line-height:22px;
}

/*4번 content 작업*/
.content_select .banner{
    height:430px; background-size:cover;
    background:url(../img/banner_01.jpg) no-repeat center bottom;
    text-indent:-9999px;
}
.content_select .select_menu{
    width:100%; 
}
.content_select .select_menu li{
    float:left; width:33.333333%;
}
.content_select .select_menu li a{
    display:block; width:100%;
    text-align:center; padding-top:75px; font-size:15px;
    line-height:23px; padding-bottom:75px;
}
.content_select .select_menu li a p.menu_title{
    font-size:25px; font-weight:bold; margin-bottom:13px;
}
.content_select .select_menu li a:hover{
    background-color:#80bce2; color:#fff;
}

/*5번 content 작업*/
.content_contact{
    height:410px; background-size:cover;
    background:url(../img/banner_02.jpg) no-repeat center;
    position:relative; color:#fff; font-weight:bold;
}
.content_contact .text_box{
    width:640px; height:410px; position:absolute; 
    top:0; left:50%; margin-left:-320px; 
    padding-top:130px;
}
.content_contact p.contact_title{
    font-size:40px; letter-spacing:0px; text-align:center;
}
.content_contact p.contact_title span{ color:#80bce2; }
.content_contact p.contact_text{
    font-size:15px; text-align:center;
    margin-top:25px; margin-bottom:45px;
}
.content_contact .contact_btn a{
    text-align:center; display:block; 
    color:#ddd;font-size:20px;
}
.content_contact .contact_btn a:hover{ color:#aaa; }

/*footer 작업*/
#footer{
    background-color:#252525; 
    padding-top:80px; padding-bottom:80px;
}
#footer .center{
    position:relative;
}
#footer .address{
    color:#fff; line-height:22px; margin-bottom:20px;
    font-size:15px;
}
#footer span{ 
   display:block; margin-top:10px; 
	color:#555; 
}
#footer .sns_icon{
    position:absolute; right:0px; top:0px;
}
#footer .sns_icon li{
    float:left; margin-left:20px;
}

/*-------------------반응형-------------------*/
@media screen and (max-width:1200px){
        .center{ width:90%; margin-left:5%; margin-right:5%; }
         /*header 작업*/
        #header .menu ul{
            padding-top:25px; padding-bottom:25px;
            width:80%; margin-left:10%; margin-right:10%;
        }
        #header .menu ul li{
            margin-left:2.5%; margin-right:2.5%;
        }
        #header .menu ul li a{
            font-size:23px;
        }

        #header .main{height:780px; width:100%; }
        #header .main .main_text{
            width:90%; height:780px; 
            top:0%; left:0%; margin-left:5%;
            padding-top:280px; margin-right:5%;
        }
        #header .main .main_text p.main_title{
            font-size:45px;
        }
        /*container 작업*/
        /*1번 content 작업*/
        .content_publisher{
            width:100%; padding-top:70px;
            padding-bottom:80px;
        }
        .content_publisher p.puvlisher_title{
            width:28%;
        }
        .content_publisher p.puvlisher_text{
            width:65%;
        }

        /*2번 content 작업*/
        .content_ourwork .ourwork_list li{
            width:50%;
        }
        /*3번 content 작업*/
        .content_expertise{
            padding-bottom:30px;
        }
        .content_expertise .expertise_list{
            margin-top:50px;
            width:100%;
        }
        .content_expertise .expertise_list li{
            width:50%; height:300px;
        }
        .content_expertise .expertise_list li p.list_title{
            margin-top:25px; margin-bottom:15px; font-size:24px; 
        }

        /*4번 content 작업*/
        .content_select .banner{
            height:370px;
        }
        .content_select .select_menu li{
        height:240px;
        }
        .content_select .select_menu li a{
            width:100%; height:100%;
        }

        /*footer 작업*/
        #footer .address{
            font-size:14px; width:80%
        }
}
/*-------------------반응형중간-------------------*/
/*more 메뉴 등장 */
@media screen and (max-width:1000px) {
        #header .menu p.more{
            position:absolute; top:50%; left:5%; margin-top:-9px;
            cursor:pointer; display:block;
        }
        #header .menu{
            background-color:rgba(0,0,0,0.7); height:50px;
            position:fixed; top:0px; left:0px;
        }
        #header .menu ul{
            display:none;
        }
		#header .menu .home{
			display:block; width:100%; text-align:center; line-height:50px;
		}
		#header .menu .home a{
			font-size:25px; font-weight:bold; color:#80bce2;
		}
        #header .main .main_text{
            width:90%; height:780px; 
            top:0%; left:0%; margin-left:5%;
            padding-top:250px; margin-right:5%;
        }
}


/*-------------------반응형2-------------------*/
@media screen and (max-width:640px){

        #header .menu ul{
            padding-top:30px; padding-bottom:30px;
            width:80%; margin-left:15%; margin-right:5%;
        }
        #header .menu ul li a{
            font-size:17px; display:none;
        }
        
        #header .main{height:450px; }
        #header .main .main_text{
            height:450px; padding-top:150px;
        }
        #header .main .main_text p.main_title{
            font-size:35px; margin-bottom:30px;
        }
        #header .main .main_text p.main_text{
            font-size:14px; line-height:22px;
        }
        /*container 작업*/
        /*1번 content 작업*/
        .content_publisher{
            width:100%; padding-top:50px;
        }
        .content_publisher p.puvlisher_title{
            width:100%; height:auto; text-align:center;
            margin-bottom:50px;
        }
        .content_publisher p.puvlisher_text{
            width:100%; height:auto; text-align:center; 
            font-size:14px; 
        }

        /*2번 content 작업*/
        .content_ourwork .ourwork_text_box{
            padding-top:50px;
        }
        .content_ourwork .ourwork_list li{
            width:100%;
        }
        .content_ourwork .ourwork_list li:nth-child(n+3){
            display:none;
        }

        /*3번 content 작업*/
        .content_expertise .expertise_list{
            width:100%;
        }
        .content_expertise .expertise_list li{
            width:50%; height:300px; padding:2%;
        }
        .content_expertise .expertise_list li img{
            width:50px;
        }
        .content_expertise .expertise_list li p.list_title{
            margin-top:20px; margin-bottom:10px; font-size:23px; 
        }
        .content_expertise .expertise_list li p.list_text{
            font-size:13px;
        }

        /*4번 content 작업*/
        .content_select .banner{
            height:280px; background-size:cover;
        }
        .content_select .select_menu li{
            width:50%; margin-left:0%; margin-right:0%;
				height:250px;
        }
        .content_select .select_menu li a{
            padding-top:60px; font-size:14px;
            padding-left:1%; padding-right:1%;
        }
        .content_select .select_menu li a p.menu_title{
            font-size:20px;
        }

        /*5번 content 작업*/
        .content_contact{
            height:300px;
        }
        .content_contact .text_box{
            width:90%; height:300px; left:0%; margin-left:0; 
            padding-top:70px;
            margin-left:5%; margin-right:5%;
        }
        .content_contact p.contact_title{
            font-size:30px;
        }
        .content_contact p.contact_text{
            font-size:14px; margin-top:20px; 
            margin-bottom:30px; line-height:22px;
        }

        /*footer 작업*/
        #footer{
            padding-bottom:100px;
        }
        #footer .address{
            color:#fff; line-height:22px; margin-bottom:20px;
            font-size:14px; width:100%; text-align:center; 
        }
        #footer .txt{ 
            color:#515151; text-align:center;
        }
        #footer .sns_icon{
            right:50%; top:150px; margin-right:-40px;
        }
        #footer .sns_icon li{
            float:left; margin-left:20px;
        }
    
    
}

/*-------------------반응형3-------------------*/
@media screen and (max-width:480px){
	
		#header .main .main_text{
            height:450px; padding-top:120px;
        }
        #header .main .main_text p.main_title{
            font-size:30px; margin-bottom:20px;
        }
        #header .main .main_text p.main_text{
            font-size:14px; line-height:20px;
        }
	
	/*3번 content 작업*/
        .content_expertise .expertise_list{
            width:100%;
        }
        .content_expertise .expertise_list li{
            width:50%; height:350px; padding:2%;
        }
        .content_expertise .expertise_list li img{
            width:40px;
        }
        .content_expertise .expertise_list li p.list_title{
            margin-top:20px; margin-bottom:10px; font-size:18px; 
        }
	
}

/*-------------------반응형4-------------------*/
@media screen and (max-width:380px){
	
	/*3번 content 작업*/
        .content_expertise .expertise_list{
            width:100%;
        }
        .content_expertise .expertise_list li{
            width:100%; height:auto; padding:2%;
        }
        .content_expertise .expertise_list li img{
            width:50px;
        }
        .content_expertise .expertise_list li p.list_title{
            margin-top:20px; margin-bottom:10px; font-size:20px; 
        }
	
	/*4번 content 작업*/
        .content_select .banner{
            height:280px; background-size:cover;
        }
        .content_select .select_menu li{
            width:100%; margin-left:0%; margin-right:0%;
				height:auto;
			border-bottom:1px solid #fff;
        }
		.content_select .select_menu li:last-child{
			border-bottom:none;
		}
        .content_select .select_menu li a{
				width:100%;
            padding-top:30px; padding-bottom:30px;
			font-size:14px;
            padding-left:1%; padding-right:1%;
			background-color:#80bce2; color:#fff;
        }
        .content_select .select_menu li a p.menu_title{
            font-size:20px;
        }
}












